.landing-page-container {
  max-width: 100%;
}

.action-bar {
  max-height: 5vh;
  max-width: 100%;
  outline: 2px  solid grey;
  color: white;
  background-color: grey;
  font-weight: bold;
}

.action-bar-stepCount {
  margin-left: 10px;
}

.action-bar-buttonsDiv {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.action-bar-buttonsDiv .action-button{
  display: inline-block;
}

.action-bar-buttonsDiv .action-button-start{
  color: green;
}

.action-bar-buttonsDiv .action-button-stop{
  color: red;
}

.action-bar-buttonsDiv .action-button-pauseResume{
  color: blue;
}

.canvas-container {
  margin: 2px;
}

.canvas-cell {
  outline: 1px solid gray;
  margin: 2px 2px 2px 2px;
}

