.landing-page-container {
  max-width: 100%;
}

.action-bar {
  position: relative;
  max-height: 5vh;
  max-width: 100%;
  outline: 2px  solid grey;
  color: white;
  background-color: grey;
  font-weight: bold;
}

.action-bar-stepCount {
  margin-left: 10px;
}

.action-bar-buttonsDiv {
  float: right;
  margin-right: 20px;
}

.action-bar-buttonsDiv .action-button {
  display: inline-block;
}

.action-bar-buttonsDiv .action-button-start {
  color: green;
}

.action-bar-buttonsDiv .action-button-stop {
  color: red;
}

.action-bar-buttonsDiv .action-button-pauseResume {
  color: blue;
}

.action-button-stats {
  margin-left: 30px;
}

.action-bar .stats-popup {
  z-index: 10;
  position: absolute;
  min-width: 250px;
  min-height: 250px;
  top: 25px;
  left: 20px;
  color: white;
  border-style: double;
  background-color: grey;
}

.action-bar .stats-popup .stats-popup-row {
  display: block;
  margin-left: 10px;
}

.canvas-container {
  margin: 2px;
}

.canvas-cell {
  outline: 1px solid gray;
  margin: 2px 2px 2px 2px;
}

.cell-card {
  z-index: 100;
  position: fixed;
  width: 500px;
  min-height: 500px;
  top: 250px;
  left: 250px;
  border: double;
  background-color: grey;
}

.cell-card-row {
  display: block;
  left: 20px;
  top: 20px;
  font-size: large;
  font-weight: bold;
  position: relative;
}

